@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to</h1>
   <div class="container" style="width:100%; margin-top:3%">
        <div class="form-group row">
            <div class="col-md-12">
                <marquee style="background-color:aquamarine"><h3><b>JokesWebApplication</b></h3></marquee>
            </div>
        </div>
        
    </div>
</div>
